body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .todo-container {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #taskInput {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #addTaskBtn {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #addTaskBtn:hover {
    background-color: #4cae4c;
  }
  #clearAllBtn {
    width: 100%;
    padding: 10px;
    background-color: #34dc99;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  #clearAllBtn:hover {
    background-color: #caf2ca;
  }

  #taskList {
    list-style: none;
    padding: 0;
  }
  
  .task-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  
  .task-item button {
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .task-item button:hover {
    background-color: #c9302c;
  }
  